<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>iPhoto</string>
			<key>uuid</key>
			<string>YB24l+y2QQiqGKnpYU3+RA</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>modelId</key>
					<integer>5</integer>
					<key>name</key>
					<string>Kids</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>MyzdRcMhSVSwbTbEGG8Z8Q</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>6</integer>
					<key>name</key>
					<string>Vacation</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>WeN+h+NmTYe%b4lJ694TaQ</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>7</integer>
					<key>name</key>
					<string>Birthday</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>2ZkVr+%OSbO%fHu0Q6YSyQ</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>3</integer>
					<key>name</key>
					<string>Favorite</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>GJ3aRz9LTsCWvTniDG8qYw</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>4</integer>
					<key>name</key>
					<string>Family</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>gAlf8htPTjSBdacvxqzhIw</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>2</integer>
					<key>name</key>
					<string>_Favorite_</string>
					<key>parentUuid</key>
					<string>YB24l+y2QQiqGKnpYU3+RA</string>
					<key>uuid</key>
					<string>kCr1hpMxRI2RtpfwfpHlzg</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>6</integer>
</dict>
</plist>
